<% include ../partials/header%> 

<div class="container-fluid">
  <div class="row">

    <!-- Info panel on left -->
    <div class="col-md-4" style="text-align: center">
      <div class="card top"><h1><%= campground.name %></h1></div>
      <div id="campMap"></div>
      <!-- <h1><%= campground.name %></h1> -->
      <div class="list-group navBtns">
        <a class="list-group-item">Description</a>
        <a class="list-group-item">Activities</a>
        <a class="list-group-item">Comments</a>
      </div>

    </div>

      <!-- Main Content, to the right -->
    <div class="col-md-8">

      <!-- Main Image and description -->
      <div class="card top" id="description">
        <img class="card-img-top" src="<%= campground.image %>">
        <div class="card-title">
          <p><%= campground.description %></p>
          <p class="author"><em>Submitted by: <%= campground.author.username%></em></p>
          <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
            <hr>
            <a class="btn btn-warning" href="/campgrounds/<%= campground._id%>/edit">Edit</a>
            <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
          <% } %>
        </div>

      </div>

      <!-- Activity section -->
      <% if(campground.activities.length){ %>
        <div class="card" id="activities">
          <h2><u>Activities</u></h2>
          <hr>
          <div class="row activity-row">
            <% campground.activities.forEach(function(activity){ %>
              <div class="col-md-4 col-sm-6">
                  <img src="<%= activity.image %>" class="activity-icons">
                  <span><%= activity.title %></span>
              </div>
          <% }) %>
          </div>
        </div>
      <% } %>


      <!-- Comments & new comment form -->
      <div class="card" id="comments">
        <h2><u>Comments</u></h2>
        <hr>
        <% if(currentUser){ %>

          <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group new-comment">
              <textarea class="form-control" name="comment[text]" placeholder="Add New Comment" rows="4"></textarea>
              <button class="form-control btn-success">Submit</button>
            </div>
          </form>
          <hr>
        <% } else { %>
          <br style="margin: 5px">
        <% } %>

        <% campground.comments.sort(function(a,b){return(b.time-a.time)}) %>
        <% var currTime = new Date() %>

        <% campground.comments.forEach(function(comment){ %>
          <div class="row">
            <div class="col-md-12">
                <strong> <%= comment.author.username %></strong>
                <span class="float-right"><%= timeDiff(currTime.valueOf(), comment.time) %></span>
              <p>
                  <%= comment.text %>
              </p>
              <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
              <a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
              <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-danger">Delete</button>
              </form>
              <% } %>
            </div>
          </div>
          <% if(campground.comments[campground.comments.length-1] != comment){ %>
            <hr>
          <% } %>
        <% }) %>



      </div>
    </div>

  </div>
</div>



<script type="text/javascript" src="/scripts/show.js"></script>


<% include ../partials/footer %>


<% function timeDiff(currTime, timeAdded){ %>
  <% var diff = currTime-timeAdded; %>
  <% var diffString = "10 days ago."; %>

  <% if(diff<60000){ %>

    <% if(Math.floor(diff/1000)<=1){ %>
      <% diffString =  "1 second ago" %>
    <% } else { %>
      <% diffString =  String(Math.floor(diff/1000)) + " seconds ago" %>
    <% } %>

  <% } else if(diff<3600000){ %>

    <% if(Math.floor(diff/60000)<=1){ %>
      <% diffString =  "1 minute ago" %>
    <% } else { %>
      <% diffString =  String(Math.floor(diff/60000)) + " minutes ago" %>
    <% } %>

  <% } else if(diff<86400000){ %>

    <% if(Math.floor(diff/3600000)<=1){ %>
      <% diffString =  "1 hour ago" %>
    <% } else { %>
      <% diffString =  String(Math.floor(diff/3600000)) + " hours ago" %>
    <% } %>

  <% } else if(diff<2592000000){ %>

    <% if(Math.floor(diff/86400000)<=1){ %>
      <% diffString =  "1 day ago" %>
    <% } else { %>
      <% diffString =  String(Math.floor(diff/86400000)) + " days ago" %>
    <% } %>

  <% } else if(diff<31536000000){ %>

    <% if(Math.floor(diff/2592000000)<=1){ %>
      <% diffString =  "1 month ago" %>
    <% } else if(Math.floor(diff/2592000000)>=12) { %>
      <% diffString =  "11 months ago" %>
    <% } else { %>
      <% diffString =  String(Math.floor(diff/2592000000)) + " months ago" %>
    <% } %>

  <% } else { %>

    <% if(Math.floor(diff/31536000000)<=1){ %>
      <% diffString =  "1 year ago" %>
    <% } else { %>
      <% diffString =  String(Math.floor(diff/31536000000)) + " years ago" %>
    <% } %>

  <% } %>

  <% return(diffString) %>
<% } %>
